<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="github-telani" value="https://nuget.pkg.github.com/telani-app/index.json" />
  </packageSources>

  <!-- Generate a PAT token here: https://github.com/settings/tokens/new?scopes=read:packages&description=Telani-Nuget

       The easiest way to authenticate to the feed is to set an environment variable with
         name:  NuGetPackageSourceCredentials_github-telani
         value: Username=[username];Password=[PAT]

       [username] is the github username
       [PAT] is a classic github token with the read:packages scope
  -->
  <packageSourceMapping>
    <packageSource key="github-telani">
      <package pattern="Telani.SourceGenerator" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
